@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss" as vars;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaBold", Inter, system-ui, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Experience

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  // This is how you create the break point so that you do not need to type and convert the media screne everytime
  //  @include(<=mobile) {
  //
  //}

  #experience-canvas{
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .sunny-side{
    position: absolute;
    top: 3vh;
    right: 3vw;
  }
}

.modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1px;
}

p{
  font-size: 1.3rem;
}

//font size for thephone
.is-phone{
  p{
    font-size: 1rem;
  }
}

.modal{
  font-family: "Helvetica", serif;
  line-height: 1.3;


  .modal-title{
    font-family: "HelveticaBold", serif;
    font-size: 30px;
  }

  position: fixed;
  width: 90%;
  padding: 2rem;
  max-height: 80vh;
  max-width: 700px;

  z-index: 999;
  display: none;
  background-color: #f5e6df;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;


  .modal-content{
    color: #32312d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
    padding: 1rem 1rem 1rem 1rem;
  }

}



.pageAlign{
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  height: 100%;
}


.uniform-image{
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;           // makes them fill container equally
  object-fit: cover;     // fills space without distortion
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}


.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;



  .uniform-image{
    z-index: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;

    object-fit: cover;     // fills space without distortion
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease;
  }



  .overlay-text {
    opacity: 0;
    position: absolute;   // stays in flow
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    height: 100%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    transition:  0.3s ease;
    pointer-events: none;
  }




  &:hover {
    .uniform-image {
      opacity: 0.7;
    }
    .overlay-text {
      opacity: 1;
    }
  }
}

.is-phone{
  .image-container{
    .uniform-image{
      height: 17vh;
    }
  }
}




.first-line,
.second-line{
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 12px;
  gap: 1rem;
  height: 100%;
}

.modal-exit-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 12px; // ← rounded square
  background-color: #e83e3e;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-x: visible;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s;

  &:hover {
    background-color: #d9363e;
    transform: scale(1.05);
  }

}

.download-button{
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 12px; // ← rounded square
  background-color: #3e6ee8;
  cursor: pointer;


  display: flex;
  align-items: center;
  justify-content: center;

  overflow-x: visible;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s;

  &:hover {
    background-color: #3e5ae8;
    transform: scale(1.05);
  }

  .download-icon{
    top: 1rem;
    right: 5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 12px; // ← rounded square
    cursor: pointer;

    overflow-x: visible;
  }
}

.sunny-side{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
  background-color: #416cef;
  border-radius: 12px;
  border: none;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s;

  &:hover {
    background-color: #3e5ae8;
    transform: scale(1.05);
  }

  &.night{
    background-color: #444;
  }

  .brightness-icon{
    width: 70%;
    height: 70%;
  }
}



.resume-modal{
  overflow-x: visible;
}

.resume-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1px;
}

.resume-content{
  overflow-x: visible;
}

.modal::-webkit-scrollbar {
  width: 17px; // vertical scrollbar
}

.modal::-webkit-scrollbar-track {
  background: #fec097;
  border-radius: 8px;
}

.modal::-webkit-scrollbar-thumb {
  background: #da7702;
  border-radius: 8px;
  //border: 2px solid #f0f0f0; // padding inside thumb
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}