@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss" as vars;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaBold", Inter, system-ui, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Experience

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  // This is how you create the break point so that you do not need to type and convert the media screne everytime
  //  @include(<=mobile) {
  //
  //}

  #experience-canvas{
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}
.modal-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1px;
}

.modal{
  font-family: "Helvetica", serif;
  font-size: 21px;
  line-height: 1.3;


  .modal-title{
    font-family: "HelveticaBold", serif;
    font-size: 30px;
  }

  position: fixed;
  width: 90%;
  padding: 2rem;
  max-height: 80vh;
  max-width: 700px;

  z-index: 999;
  display: none;
  background-color: #f5e6df;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;


  .modal-content{
    color: #32312d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
    padding: 1rem 1rem 1rem 1rem;
  }

}

.modal-exit-button{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 12px; // â† rounded square
  background-color: #e83e3e;
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow-x: visible;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.2s;

  &:hover {
    background-color: #d9363e;
    transform: scale(1.05);
  }
}

.modal::-webkit-scrollbar {
  width: 17px; // vertical scrollbar
}

.modal::-webkit-scrollbar-track {
  background: #fec097;
  border-radius: 8px;
}

.modal::-webkit-scrollbar-thumb {
  background: #da7702;
  border-radius: 8px;
  //border: 2px solid #f0f0f0; // padding inside thumb
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #555;
}